@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

* {

  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
}

body::-webkit-scrollbar {
  width: 12px;
  background: rgba(59, 58, 55, 0.2);
  filter: blur(10px);
}
body::-webkit-scrollbar-thumb {
  background: rgba(231, 204, 114, 0.384);
  border-radius: 10px;
  
}

/* Glow effect for the background */
.glow-effect {
  position: absolute;
  top: 8%;
  left: 35%;
  width: 30%;
  height: 10%;
  background: radial-gradient(circle, rgba(255, 140, 0, 0.15) 10%, transparent 70%);
  filter: blur(90px);
  transform: translate(-50%, -50%);
  pointer-events: none;
}

/* Animation for blinking */
.animate-blink {
  animation: blink 2s infinite;
  font-weight: 300; 
}

@keyframes blink {
  0%, 50% { opacity: 1; }
  100% { opacity: 0; } 
}



