@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

* {

  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
}

/*Scroll*/
body::-webkit-scrollbar {
  width: 8px;
  background: rgba(63, 62, 61, 0.123);
  filter: blur(10px);
}
body::-webkit-scrollbar-thumb {
  background: rgba(80, 80, 80, 0.767);
  border-radius: 5px;
}

/*Selecction text*/
::selection {
  background: rgba(224, 191, 150, 0.37);
}

/* Glow effect for the background */
.glow-effect {
  position: absolute;
  top: 8%;
  left: 35%;
  width: 30%;
  height: 10%;
  background: radial-gradient(circle, rgba(255, 140, 0, 0.15) 10%, transparent 70%);
  filter: blur(90px);
  transform: translate(-50%, -50%);
  pointer-events: none;
}

/* Animation for blinking */
.animate-blink {
  animation: blink 2s infinite;
  font-weight: 300; 
}

@keyframes blink {
  0%, 50% { opacity: 1; }
  100% { opacity: 0; } 
}

/* Animation for floating */
@keyframes floating-up {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

@keyframes floating-down {
  0% { transform: translateY(0); }
  50% { transform: translateY(10px); }
  100% { transform: translateY(0); }
}

.animate-floating-up {
  animation: floating-up 3s ease-in-out infinite;
}

.animate-floating-down {
  animation: floating-down 3s ease-in-out infinite;
}




