@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

* {
  box-sizing: border-box;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/*Scroll*/
body::-webkit-scrollbar {
  width: 8px;
  background: rgba(229, 231, 235, 0.5); /* gray-200 with opacity */
}
body::-webkit-scrollbar-thumb {
  background: rgba(156, 163, 175, 0.7); /* gray-400 with opacity */
  border-radius: 5px;
}
html.dark body::-webkit-scrollbar {
    background: rgba(5, 5, 5, 0.911); /* gray-800 with opacity */
}
html.dark body::-webkit-scrollbar-thumb {
   background: rgba(107, 114, 128, 0.822); /* gray-500 with opacity */
}

/*Selecction text*/
::selection {
  background: rgba(224, 191, 150, 0.37);
}

/* Glow effect for the background */
.glow-effect {
  position: absolute;
  top: 8%;
  left: 35%;
  width: 30%;
  height: 10%;
  background: radial-gradient(circle, rgba(255, 140, 0, 0.15) 10%, transparent 70%);
  filter: blur(90px);
  transform: translate(-50%, -50%);
  pointer-events: none;
}

@keyframes border-glow {
  0% { border-color: rgba(255, 153, 51, 0.4); }
  50% { border-color: rgba(255, 153, 51, 1); }
  100% { border-color: rgba(255, 153, 51, 0.4); }
}